


  <div class="col s12 m7">
    <h2 class="header"><%= article.title %></h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="<%= article.image %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <%= simple_format(article.text) %>
        </div>
        <div class="card-action">
          <ul class="action-list">
            <li><%= link_to '詳細', "/articles/#{article.id}", method: :get %></li>
            <% if user_signed_in? && current_user.id == article.user_id %>
              <li><%= link_to '編集', "/articles/#{article.id}/edit", method: :get %></li>
              <li><%= link_to '削除', "/articles/#{article.id}", method: :delete %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>